<div data-th-include="system/menu/menuAdd"></div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
		            </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportMenuExcel()">
		                    Excel (.xlsx)
		                </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportMenuCsv()">
		                    CSV (.csv)
		                </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#menu-add">新增</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateMenu()">修改</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteMenus()">删除</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteMenus()" shiro:hasPermission="menu:delete">删除</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="menu-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	名称：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="menuName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	类型：
					            </span>
                                    <select class="form-control" name="type">
                                        <option value="" selected>所有</option>
                                        <option value="0">菜单</option>
                                        <option value="1">按钮</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="menuTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/menu/menu.js}"></script>
<script data-th-src="@{js/app/system/menu/menuEdit.js}"></script>